$pink: #d12064;
$blue: #1a3048;
$gold: #dbaf37;
$black: #292628;
$white: #faf5fc;

$primary: $pink;
$secondary: $blue;
$warning: $gold;
$dark: $black;
$light: $white;

$theme-colors: (
  "primary": $pink,
  "secondary": $blue,
  "warning": $gold,
);
